:root {
  --color-primary: #0ae448;
  --color-secondary: #82aaff;

  --color-background-default: #080718;
  --color-background-blue: #0094d8;
  --color-background-green: var(--color-primary);

  --color-content-default: #ffffffde;
  --color-content-hint: #666;
  --color-content-code: #ffc800;

  --color-anchors-static: var(--color-secondary);
  --color-anchors-hover: var(--color-primary);
}
