.cube {
  width: 100%;
  max-width: 100px;
  height: 100px;
  display: flex;
  place-items: center;
  border-radius: 16px;

  span {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
  }

  &_short {
    max-width: 32px;
    border-radius: 8px;
  }

  &_blue {
    background-color: var(--color-background-blue);
  }

  &_green {
    background-color: var(--color-background-green);
  }

  &_orange {
    background-color: var(--color-background-orange);
  }

  &_yellow {
    background-color: var(--color-background-yellow);
  }

  &_lavender-light {
    background-color: var(--color-background-lavender-light);
  }

  &_lavender {
    background-color: var(--color-background-lavender);
  }

  &_blue-light {
    background-color: var(--color-background-blue-light);
  }

  &_blue-medium {
    background-color: var(--color-background-blue-medium);
  }

  &_blue-dark {
    background-color: var(--color-background-blue-dark);
  }

  &_indigo {
    background-color: var(--color-background-indigo);
  }

  &_indigo-dark {
    background-color: var(--color-background-indigo-dark);
  }
}
